.container-adquire-card{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    height: 630px;
    position: relative;
}

.data-card-adquire{
    left: 70px;
    top: 163px;
}

.name-card-people{
    top: 190px;
}

.credit-card-back{
    position: relative;
    transform: perspective(1000px) rotateY(-180deg);
    backface-visibility: hidden;
    transition: .4s ease-out;
}

.faixa-preta-card{
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 40px;
}

.titulo-card-back-cvv{
    position: absolute;
    font-size: 1.6rem;
    top: 94px;
    left: 330px;
}

.input-card-back-cvv{
    position: absolute;
    width: 90%;
    height: 35px;
    background-color: aliceblue;
    top: 120px;
    right: 20px;
    border-radius: 4px;
    text-align: right;
    padding: 10px 10px;
    box-sizing: border-box;
}

.card-back-visa{
    position: absolute;
    width: 60px;
    bottom: -2px;
    right: 20px;
}


.adquire-credit-card{
    transition: .4s ease-out;
    backface-visibility: hidden;
    background-image: url("../adquire-credit-card/imagem/woman-binoculos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(105, 82, 82, 0.65);
    position: absolute;
    top: 40px;
}

.form-credit-card{
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-color: #75cada;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 100px 10px 10px 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.card-campo-nome{
    grid-column: span 3;
    position: relative;
}

.card-campo-nome > label, .card-campo-number > label, .card-campo-data-day > label, .card-campo-data-month > label, .card-campo-csv > label, .card-campo-style > label {
    position: absolute;
    top: 7px;
    left: 10px;
}

.card-campo-nome > input, .card-campo-number > input, .card-campo-data-day > input, .card-campo-data-month > input, .card-campo-csv > input, .card-campo-style > input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 10px 5px 10px;
    box-shadow: 0px 2px 0px var(--shadow-input-login);
    border: none;
}

.card-campo-number{
    position: relative;
    grid-column: span 3;
}


.card-campo-data-day{
    position: relative;
}


.card-campo-data-month{
    position: relative;
}

.card-campo-csv{
    position: relative;
}


.card-campo-style{
    position: relative;
}


.form-card-submit{
    font-size: 1.5rem;
    color: var(--always-white);
    grid-column: span 3;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: var(--title-blue);
}


