.principal-produtos{
    margin-top: 30px;
    padding: 0px 20px;
}

.container-produto{
    margin-bottom: 50px;
}

.title-starwars{
    display: flex;
    font-size: 2rem;
    color: var(--title-item-produto);
    justify-content: space-between;
    margin-bottom: 30px;
}

.ver-tudo{
    display: flex;
    width: auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--title-blue);
    font-size: 1rem;
    gap: 10px;
    align-items: center;
}

.ver-tudo img{
    width: 16px;
}

.lista{
    list-style: none;
    display: grid;
    font-family: var(--font-montserrat);
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.item{
    max-width: 176px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item img{
    width: 100%;
}

.item h2{
    color: var(--title-item-produto);
}

.item p{
    color: var(--title-item-produto);
    font-weight: 900;
}

.item a{
    text-decoration: none;
    font-weight: 900;
    color: #2A7AE4;
}

@media screen and (max-width: 768px){
    .lista{
        grid-template-columns: repeat(4, 1fr);
        font-size: .8rem;
    }

    .item:nth-child(4n+2){
        display: none;
    }
}

@media screen and (max-width: 450px){
    .lista{
        grid-template-columns: repeat(2, 1fr);
    }

    .item:nth-child(2n+3){
        display: none;
    }

    .item{
        max-width: 100%;
    }
}

@media screen and (max-width: 350px){
    .title-starwars{
        font-size: 1.4rem;
    }

    .ver-tudo{
        font-size: 1rem;
    }

    .lista{
        font-size: .8rem;
    }

    
}