.header{
    max-height: 115px;
    padding: 30px 0px;
    background-color: var(--background-white-footer);
}

.header-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    gap: 30px;

}


.header-container > div{
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-container > div > h1{
    font-size: 1.6rem;
}

.blue{
    color: var(--title-blue);
}

@media screen and (max-width: 350px){
    .header-container > div img{
        display: none;
    }
}

.flex-final{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.pesquisa-container{
    width: 100%;
    max-width: 393px;
    height: 40px;
    background-color: var(--background-input);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}


.input-pesquisa{
    border: none;
    width: 100%;
    min-width: 233px;
    padding: 8px 50px 10px 20px;
    background-color: var(--background-input);
    border-radius: 20px;
    border: var(--background-input);
    box-sizing: border-box;
}

.lupa-pesquisa{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}


.button-night{
    width: 10rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 768px){
    .button-night{
        display: none;
    }

    .header-container{
        gap: 20px;
    }

    .header .flex-final{
        gap: 20px;
    }
}

@media screen and (max-width: 600px){
    .flex-final{
        flex-direction: row-reverse;
    }

    .input-pesquisa{
        display: none;
    }

    .lupa-pesquisa{
        position: static;
    }

    .pesquisa-container{
        width: auto;
        background-color: transparent;
    }

    .flex-final a{
        width: 20%;
        text-align: center;
    }

    .header-container{
        gap: 50px;
    }

}



@media screen and (max-width: 400px){
    .header-container{
        gap: 20px;
    }


    .header-container > div > h1{
        font-size: 1.3rem;
    }

    .header-container > div > img{
        width: 40px;
    }

    .header-container > div > a{
        font-size: 1rem;
        padding: 10px 15px;
        width: 100%;
        min-width: 70px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 300px){
    .header-container > div img{
        display: none;
    }
}

.button-night img{
    width: 3.4rem;
    height: 3rem;
}

.flex-final a{
    padding: 15px 40px;
    cursor: pointer;
    text-decoration: none;
    color: var(--title-blue);
    border: 1px solid var(--title-blue);
}


.container-night{
    width: 4.4rem;
    height: 2.5rem;
    background-color: var(--background-input);
    border-radius: 20px;
}

#input-power{
    display: none;
}

#label-night{
    background-color: var(--background-input-checkbox);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
    top: 4px;
    left: 4px;
    transition: .3s;
}

#label-night::before{
    content: 'off';
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 4.5px;
}

#label-night::after{
    content: 'on';
    font-size: 0px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 8px;
}

#input-power:checked + #label-night{
    left: 35.5px;
    transition: 3.s;
}

#input-power:checked + #label-night::before{
    font-size: 0px;
}

#input-power:checked + #label-night::after{
    font-size: 10px;
}