.header{
    max-height: 115px;
    padding: 30px 0px;
    background-color: var(--background-white-footer);
}

.header-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    gap: 30px;

}


.header-container > div{
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-container > div > h1{
    font-size: 1.6rem;
    color: var(--title-preto);
}


.blue{
    color: var(--title-blue);
}

@media screen and (max-width: 350px){
    .header-container > div img{
        display: none;
    }
}

.flex-final{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.pesquisa-container{
    width: 100%;
    max-width: 393px;
    height: 40px;
    background-color: var(--background-input);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}


.input-pesquisa{
    border: none;
    width: 100%;
    min-width: 233px;
    padding: 8px 50px 10px 20px;
    color: var(--title-preto);
    background-color: var(--background-input);
    border-radius: 20px;
    border: var(--background-input);
    box-sizing: border-box;
}

.lupa-pesquisa{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}


.container-night{
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 768px){
    .button-night{
        display: none;
    }

    .header-container{
        gap: 20px;
    }

    .header .flex-final{
        gap: 20px;
    }
}

@media screen and (max-width: 600px){
    .flex-final{
        flex-direction: row-reverse;
    }

    .input-pesquisa{
        display: none;
    }

    .lupa-pesquisa{
        position: static;
    }

    .pesquisa-container{
        width: auto;
        background-color: transparent;
    }

    .flex-final a{
        width: 20%;
        text-align: center;
    }

    .header-container{
        gap: 50px;
    }

}


@media screen and (max-width: 440px){
    .header-container{
        gap: 10px;
    }

}



@media screen and (max-width: 400px){
    .header-container{
        gap: 20px;
    }


    .header-container > div > h1{
        font-size: 1.3rem;
    }

    .header-container > div > img{
        width: 40px;
    }

    .header-container > div > a{
        font-size: 1rem;
        padding: 10px 15px;
        width: 100%;
        min-width: 70px;
        box-sizing: border-box;
    }

    .header > div h1{
        font-size: 1.2rem !important;
    }


}

@media screen and (max-width: 300px){
    .header-container > div img{
        display: none;
    }
}

.button-night{
    width: auto;
    height: auto;
}

.flex-final a{
    padding: 15px 40px;
    cursor: pointer;
    text-decoration: none;
    color: var(--title-blue);
    border: 1px solid var(--title-blue);
}


.box-night{
    background-image: url("../imagem/imagens-index/ocean.jpeg");
    width: 70px;
    height: 35px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    transition: .2s;
}

.box-night-back{
    background-image: url("../imagem/imagens-index/night.jpeg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .2s;
}

.button-night{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: .2s;
    background-image: url("../imagem/imagens-index/sun-svgrepo-com\ .svg ");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.night-click{
    top: 3px;
    left: 38px;
    transition: .2s;
    background-image: url("../imagem/imagens-index/moon-svgrepo-com.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

