.container-credit-card{
    margin-top: 50px;
    padding: 0px 20px;
}

.central-grid-card{
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 1fr;
    position: relative;
}

@media screen and (max-width: 1180px){
    .central-grid-card{
        grid-template-columns: 1fr;
        grid-template-rows: auto 450px;
    }
    
}



.informacoes-card{
    background: rgba(92, 75, 75, 0.12);
    backdrop-filter: blur(7.3px);
    opacity: 0.9;
    border-radius: 6px;
}

.box-credit-card{
    
}

.card{
    width: 475px;
    height: 58%;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(30deg, #d1917c, #74BDCB);
    box-sizing: border-box;
    position: relative;
    top: 10px;
    left: 200px;
    opacity: 1;
    transition: .3s;

    transform: perspective(1600px) rotateY(25deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
}

.card:hover{
    transform: perspective(4000px) rotateY(7deg);
}

.logo-card{
    position: absolute;
    left: 17px;
    top: 17px;
    width: 20%;
    height: 20%;
}

.logo-card img{
    width: 100%;
    height: 100%;
}


.title-card{
    position: absolute;
    font-size: 200%;
    left: 113px;
    top: 25px;
}


.marca-card{
    position: absolute;
    right: -20px;
    top: -10px;
    width: 50%;
    height: 50%;
}

.marca-card img{
    width: 100%;
    height: 100%;
}

.chip{
    position: absolute;
    width: 20%;
    height: 25%;
    bottom: 100px;
    left: 20px;
}

.chip > img{
    width: 100%;
    height: 100%;
}

.anaconda{
    position: absolute;
    width: 20%;
    height: 25%;
    right: 10px;
    bottom: 10px;
}

.anaconda img{
    width: 100%;
    height: 100%;

}

.title-card-sombra{
    position: absolute;
    font-size: 600%;
    color: #9e9797;
    font-weight: 700;
    z-index: -1;
    right: 10px;
    bottom: 75px;
}


.numero-card{
    position: absolute;
    bottom: 80px;
    left: 30px;
    font-size: 120%;
}

.small-number-card{
    position: absolute;
    bottom: 48px;
    left: 30px;
    font-size: 105%;
}

.ano-card{
    position: absolute;
    bottom: 48px;
    left: 73px;
    font-size: 105%;
}

.sub-title-card{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 115%;
}

.date-card{
    position: absolute;
    bottom: 48px;
    left: 180px;
    font-size: 105%;
}

/*
.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: blue;
}

*/


.card-black{
    width: 465px;
    height: 56%;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(30deg, #cf7a5d, #509cac);
    box-sizing: border-box;
    position: relative;
    top: -100px;
    left: 100px;
    z-index: -1;
    opacity: 1;
    transition: .3s;


}


.frase-initial-card{
    position: absolute;
}

.frase-final-card{
    position: absolute;
    right: 15px;
}

.faixa-black{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    top: 30px;
    right: 0;
}

.campo-codigos-card{
    position: absolute;
    width: 50%;
    height: 50px;
    background-image: url("../imagem/imagens-index/campo-codigos.jpeg");
    top: 90px;
    left: 50px;
}

.number-card-back{
    position: absolute;
    font-size: 1.6rem;
    padding: 5px 7px;
    background-color: aqua;
    top: 98px;
    right: 130px;
}

.text-left-card{
    position: absolute;
    top: 140px;
    left: 45px;
}

.text-right-card{
    position: absolute;
    top: 140px;
    left: 185px;
}

.number-front-back-card{
    position: absolute;
    bottom: 60px;
    left: 85px;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.8rem;
}

.title-footer-card{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.6rem;
}